*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

  .contact-section{
    padding: 4rem clamp(2.4rem, 3vw, 3.8rem);
    display:flex;
    justify-content: center;
    width: 100%;
    max-width: var(--container-max-width--);
  }
  
  .contact-info-container{
    width:clamp(30rem, 100%, 90rem);
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 1);
    border-radius:24px;
    padding:5rem 0;
  }


  .contact-info-main-container{
    width:clamp(30rem, 100%, 65rem);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:3.8rem;
    padding: 0 1.7rem;
  }

  .contact-section-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2.5rem;
  }

  .contact-section-header-txt{
    font-family: roboto flex;
    font-size:  clamp(2rem, 3vw, 3.6rem);
    font-weight: 600;
    font-style: semibold;
    color:rgba(20, 20, 20, 1);

  }

  .contact-section-header p{
    font-family:inter ;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style:regular;
    font-weight:400 ;
    color:rgba(107, 107, 107, 1)
  }

  form{
    display:flex;
    flex-direction: column;
    width: 100%;
    gap:2rem;
  }


  .contact-info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
  }

  form input{
    box-sizing:border-box;
    width:100%;
    min-width: 0;
    padding:1em;
    border-radius: 8px;
    border:1px solid rgba(214, 214, 214, 1);
    background-color: rgba(235, 235, 235, 1);
    transition: 150ms ease;
  }

  form input::placeholder{
    font-family: inter;
    font-weight: 400;
    font-style: regular;
    font-size:1.2rem;
    color:rgba(107, 107, 107, 1);
  }

  form input:focus{
    outline:none;
    border-color:lightblue;
  }
  form input:hover{
    border-color:rgba(235, 235, 235, 1) ;
  }

  .message{
    height:10rem;
  }

  .submit-btn{
    width:100%;
    padding:1rem 0;
    background-color: rgba(74, 74, 74, 1);
    font-family: inter;
    font-weight:600 ;
    font-style: semibold;
    font-size:1.4rem ;
    color:rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius:12px ;
  }

  

  .line{
    border:1px solid rgba(214, 214, 214, 1);
    width: 100%;
    
  }
  .form-break{
    display:flex;
    width:100%;
    flex-direction: column;
    gap:2.3rem;
  }

  .contact-cta{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
  }

  
    
  .cta-btn{
    font-family: inter;
    font-weight: 600;
    font-style:semibold;
    font-size: 1.5rem;
    color:rgba(5, 5, 5, 1);
    border: none;
    background-color: transparent;
    position:relative;
    padding:4px 0;
    cursor:pointer;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    
  }

  .cta-btn::after{
    content:'';
    position:absolute;
    width:100%;
    height:2px;
    bottom:0;
    left:0;
    background-color:rgba(5, 5, 5, 1) ;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.1s ease-out;
  }

  .cta-btn:hover::after{
    transform: scaleX(1);
      /*triggers the animation on hover*/
    transform-origin: bottom left;
    
  }

  .cta-btn:hover{
    text-decoration-line:none ;
  }

  @media (max-width: 750px){
    .contact-info-grid{
      grid-template-columns: 1fr;
    }
  }