*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

  nav{
    width: 100%;
    height:60px;
    position: fixed;
    z-index: 50;
    padding: 0 clamp(2.9rem, 3vw, 3.8rem);
    background-color:rgba(252, 252, 252, 1);
    display:flex;
    justify-content:space-between;
    align-items: center;
  }

  .home-link{
    font-family: inter;
    font-weight:700;
    font-style:bold;
    font-size: 2rem;
    color:rgba(20, 20, 20, 1);
  }
  .links-container{
    height:100%;
    width: auto;
    gap:3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav a{
    height:100%;
    font-family: inter;
    font-weight: 600;
    font-style: semibold;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(107, 107, 107, 1);
  }
  nav button{
    background-color: rgba(5, 5, 5, 1);
    border:none;
    cursor: pointer;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-family: inter;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 2rem 2rem;
  }
  
  nav button:active{
    opacity:0.4;
  }

  nav a:hover{
    color:lightblue ;
  }

  nav a:hover:active{
    opacity:0.4;
  }

  

  nav svg{
    fill:rgba(20, 20, 20, 1);
  }

  #sidebar-active{
    display:none;
  }

  .open-sidebar-button, .close-sidebar-button{
    display:none;
    
  }

  @media(max-width: 760px){
    .links-container{
      background-color: rgba(252, 252, 252, 1);
      opacity: 1;
      flex-direction: column;
      gap:4rem;
      align-items: flex-start;
      position: fixed;
      padding-top:13px;
      top:0;
      height: 40vh;
      padding-left: 2rem;
      right:-100%;
      z-index: 10;
      width:200px;
      transition: 0.75s ease-out;
    }

    nav a{
      box-sizing: border-box;
      height:auto;
      width:100%;
      padding:2re 3rem;
      justify-content: flex-start;
    }

    .open-sidebar-button{
      margin-left:auto ;
    }

    .open-sidebar-button, .close-sidebar-button{
      display:block;
      
      align-items: center;
      justify-content: center;
  }

  #sidebar-active:checked ~ .links-container{
    right:0;
  }

  #sidebar-active:checked ~ #overlay{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 9;
  }

  }
